/* Write your CSS here */

.planets-app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url('https://assets.ccbp.in/frontend/react-js/planets-app/planets-bg-img.png');
  min-height: 100vh;
  padding: 40px;
}

@media screen and (min-width: 768px) {
  .planets-app-container {
    padding: 80px;
  }
}
